<template>
  <q-page class="row items-center justify-evenly">
    <div
      class="q-pa-md q-gutter-y-md"
      style="min-width: min(400px, 100%); max-width: 400px"
    >
      <movement-form></movement-form>
      <q-btn to="/" rounded no-caps label="Volver" icon="arrow_back"></q-btn>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import MovementForm from '../components/MovementForm.vue';

export default defineComponent({
  name: 'AddMovementPage',
  components: { MovementForm },
  data() {
    return {};
  },
  methods: {},
});
</script>
