<template>
  <q-page class="row items-center justify-evenly">
    <div class="column q-gutter-y-md">
      <q-btn
        to="add"
        rounded
        no-caps
        label="Agregar Movimiento"
        icon="add"
      ></q-btn>
      <q-btn
        to="list"
        rounded
        no-caps
        label="Ver Movimientos"
        icon="list"
      ></q-btn>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'IndexPage',
  components: {},
  data() {
    return {};
  },
});
</script>
