<template>
  <q-page class="row justify-evenly">
    <div class="q-pa-md q-gutter-y-md" style="width: min(800px, 100%)">
      <div class="row justify-between" style="min-width: 100%">
        <q-card style="min-width: 200px">
          <q-card-section>
            <b>Ahorro del mes: </b>
            {{
              data?.totalDifference.toLocaleString('es-PY', {
                minimumFractionDigits: 0,
              })
            }}<br />
            <b>Ahorro acumulado: </b>
            {{
              data?.accumulatedDifference?.toLocaleString('es-PY', {
                minimumFractionDigits: 0,
              })
            }}
          </q-card-section>
        </q-card>
      </div>
      <div class="row justify-between">
        <div class="row q-gutter-x-md">
          <q-select
            style="width: 200px"
            v-model="startMonth"
            :options="months"
            label="Mes Inicio"
            @update:model-value="refresh"
          >
          </q-select>

          <q-select
            style="width: 200px"
            v-model="endMonth"
            :options="months"
            label="Mes Fin"
            @update:model-value="refresh"
          >
          </q-select>
        </div>

        <q-tabs v-model="tab">
          <q-tab name="group" no-caps label="Agrupado"></q-tab>
          <q-tab name="table" no-caps label="Tabla"></q-tab>
        </q-tabs>
      </div>
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="group" class="q-px-none">
          <q-list bordered class="rounded-borders">
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section> Ingresos </q-item-section>
                <q-item-section>
                  Total:
                  {{
                    data?.totalIncome.toLocaleString('es-PY', {
                      minimumFractionDigits: 0,
                    })
                  }}
                </q-item-section>
              </template>
              <q-table
                flat
                :rows="data?.incomes"
                :columns="incomeColumns"
                row-key="id"
                virtual-scroll
                v-model:pagination="pagination"
                :rows-per-page-options="[0]"
                hide-bottom
              ></q-table>
            </q-expansion-item>
          </q-list>

          <q-list bordered class="rounded-borders">
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section> Egresos </q-item-section>
                <q-item-section>
                  Total:
                  {{
                    data?.totalExpense.toLocaleString('es-PY', {
                      minimumFractionDigits: 0,
                    })
                  }}
                </q-item-section>
              </template>
              <q-list>
                <div class="q-mx-sm">
                  <div
                    v-for="(category, index) in data?.expenseCategories"
                    :key="index"
                  >
                    <q-expansion-item
                      v-model="expanded[category.id]"
                      :class="expanded[category.id] ? 'bg-grey-4' : ''"
                    >
                      <template v-slot:header>
                        <q-item-section> {{ category.name }} </q-item-section>
                        <q-item-section>
                          Total:
                          {{
                            category.total.toLocaleString('es-PY', {
                              minimumFractionDigits: 0,
                            })
                          }}
                        </q-item-section>
                      </template>
                      <q-table
                        flat
                        :rows="[]"
                        :columns="columns"
                        hide-bottom
                      ></q-table>
                      <q-list>
                        <div
                          v-for="(subCategory, index) in category.subCategories"
                          :key="index"
                        >
                          <q-expansion-item default-opened class="bg-grey-2">
                            <template v-slot:header>
                              <q-item-section>
                                {{
                                  subCategory.id
                                    ? subCategory.name
                                    : 'Sin SubCategoria'
                                }}
                              </q-item-section>
                              <q-item-section>
                                Total:
                                {{
                                  subCategory.total.toLocaleString('es-PY', {
                                    minimumFractionDigits: 0,
                                  })
                                }}
                              </q-item-section>
                            </template>
                            <q-table
                              flat
                              :rows="subCategory.movements"
                              :columns="columns"
                              row-key="id"
                              :rows-per-page-options="[0]"
                              hide-header
                              hide-bottom
                            ></q-table>
                          </q-expansion-item>
                        </div>
                      </q-list>
                    </q-expansion-item>
                  </div>
                </div>
              </q-list>
            </q-expansion-item>
          </q-list>

          <q-list
            v-if="data?.adjustments.length > 0"
            bordered
            class="rounded-borders"
          >
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section> Ajustes </q-item-section>
                <q-item-section>
                  Total:
                  {{
                    data?.totalAdjustment.toLocaleString('es-PY', {
                      minimumFractionDigits: 0,
                    })
                  }}
                </q-item-section>
              </template>
              <q-table
                flat
                :rows="data?.adjustments"
                :columns="columns"
                row-key="id"
                virtual-scroll
                v-model:pagination="pagination"
                :rows-per-page-options="[0]"
                hide-bottom
              ></q-table>
            </q-expansion-item>
          </q-list>
        </q-tab-panel>
        <q-tab-panel name="table" class="q-px-xs">
          <q-table
            :rows="plainData?.movements ?? []"
            :columns="columnsPlain"
            style="max-height: 65vh"
            row-key="id"
            virtual-scroll
            v-model:pagination="pagination"
            :rows-per-page-options="[0]"
            hide-bottom
          >
          </q-table>
        </q-tab-panel>
      </q-tab-panels>
      <div class="row justify-end">
        <q-btn
          color="primary"
          icon-right="archive"
          label="Exportar"
          no-caps
          @click="exportTable"
        ></q-btn>
      </div>

      <q-btn to="/" rounded no-caps label="Volver" icon="arrow_back"> </q-btn>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import movementService from '../services/MovementService';
import { Movement } from 'src/models/Movement';
import { Category } from 'src/models/Category';
import { GetMovementsResponse } from 'src/models/GetMovementsResponse';
import { exportFile } from 'quasar';

export default defineComponent({
  name: 'MovementsPage',
  components: {},
  data() {
    return {
      tab: 'group',
      data: null,
      plainData: null,
      expanded: [],
      startMonth: null,
      endMonth: null,
      months: [
        { label: 'Marzo 2025', value: '2025/03' },
        { label: 'Febrero 2025', value: '2025/02' },
        { label: 'Enero 2025', value: '2025/01' },
        { label: 'Dicembre 2024', value: '2024/12' },
        { label: 'Noviembre 2024', value: '2024/11' },
        { label: 'Octubre 2024', value: '2024/10' },
        { label: 'Septiembre 2024', value: '2024/9' },
        { label: 'Agosto 2024', value: '2024/8' },
        { label: 'Julio 2024', value: '2024/7' },
        { label: 'Junio 2024', value: '2024/6' },
        { label: 'Mayo 2024', value: '2024/5' },
        { label: 'Abril 2024', value: '2024/4' },
        { label: 'Marzo 2024', value: '2024/3' },
        { label: 'Febrero 2024', value: '2024/2' },
        { label: 'Enero 2024', value: '2024/1' },
      ],
      incomeColumns: [
        {
          name: 'date',
          label: 'Fecha',
          field: 'date',
          align: 'left',
          style: 'width: 50px',
          headerStyle: 'width: 50px',
        },
        {
          name: 'amount',
          label: 'Monto',
          field: (row) =>
            row.amount.toLocaleString('es-PY', {
              minimumFractionDigits: 0,
            }),
          align: 'right',
          style: 'width: 150px',
          headerStyle: 'width: 150px',
        },
        {
          name: 'Category',
          label: 'Categoria',
          field: 'category',
          align: 'left',
          style: 'width: 50px',
          headerStyle: 'width: 50px',
        },
        {
          name: 'notes',
          label: 'Notas',
          field: 'notes',
          align: 'left',
          style: 'width: 500px',
          headerStyle: 'width: 420px',
        },
      ],
      columns: [
        {
          name: 'date',
          label: 'Fecha',
          field: 'date',
          align: 'left',
          style: 'width: 50px',
          headerStyle: 'width: 50px',
        },
        {
          name: 'amount',
          label: 'Monto',
          field: (row) =>
            row.amount.toLocaleString('es-PY', {
              minimumFractionDigits: 0,
            }),
          align: 'right',
          style: 'width: 150px',
          headerStyle: 'width: 150px',
        },
        {
          name: 'notes',
          label: 'Notas',
          field: 'notes',
          align: 'left',
          style: 'width: 500px',
          headerStyle: 'width: 420px',
        },
      ],
      columnsPlain: [
        {
          name: 'date',
          label: 'Fecha',
          field: 'date',
          align: 'left',
          style: 'width: 50px',
          headerStyle: 'width: 50px',
        },
        {
          name: 'type',
          label: 'Tipo',
          field: (row) =>
            `${
              { Expense: 'Egreso', Income: 'Ingreso', Adjustment: 'Ajuste' }[
                row.type
              ]
            }`,
          align: 'left',
          style: 'width: 50px',
          headerStyle: 'width: 50px',
        },
        {
          name: 'category',
          label: 'Categoria',
          field: 'category',
          align: 'left',
          style: 'width: 150px',
          headerStyle: 'width: 150px',
        },
        {
          name: 'subCategory',
          label: 'SubCategoria',
          field: 'subCategory',
          align: 'left',
          style: 'width: 150px',
          headerStyle: 'width: 150px',
        },
        {
          name: 'amount',
          label: 'Monto',
          field: (row) => (row.type === 'Expense' ? -1 : 1) * row.amount,
          align: 'right',
          style: 'width: 150px',
          headerStyle: 'width: 150px',
          format: (val) =>
            `${val.toLocaleString('es-PY', {
              minimumFractionDigits: 0,
            })}`,
        },
        {
          name: 'notes',
          label: 'Notas',
          field: 'notes',
          align: 'left',
          style: 'width: 500px',
          headerStyle: 'width: 420px',
        },
      ],
      pagination: ref({
        rowsPerPage: 0,
      }),
    };
  },
  async created() {
    let now = new Date();
    let currentMonth = `${now.getFullYear()}/${now.getMonth() + 1}`;
    this.startMonth = this.months.filter((x) => x.value === currentMonth)[0];
    this.endMonth = this.months.filter((x) => x.value === currentMonth)[0];
    await this.refresh();
  },
  methods: {
    async refresh() {
      this.data = await movementService.getMovements(
        this.startMonth.value,
        this.endMonth.value
      );
      this.plainData = await movementService.getPlainMovements(
        this.startMonth.value,
        this.endMonth.value
      );
    },
    wrapCsvValue(val) {
      let sval = `${val}`.split('"').join('""');
      return `"${sval}"`;
    },
    exportTable() {
      // naive encoding to csv format
      const content = [
        this.columnsPlain.map((col) => this.wrapCsvValue(col.label)),
      ]
        .concat(
          this.plainData?.movements.map((row) =>
            this.columnsPlain
              .map((col) =>
                this.wrapCsvValue(
                  typeof col.field === 'function'
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field]
                )
              )
              .join(',')
          )
        )
        .join('\r\n');
      const status = exportFile('movimientos.csv', content, 'text/csv');
    },
  },
});
</script>
<style>
.color-expanded .q-expansion-item--expanded {
  background-color: cyan;
}
</style>
