<template>
  <q-form @submit="onSubmit" class="q-gutter-md">
    <q-input v-model="date" mask="date" label="Fecha" :rules="['date']">
      <template v-slot:prepend>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
            <q-date v-model="date">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <q-btn-toggle
      no-caps
      v-model="type"
      push
      glossy
      toggle-color="teal"
      :options="movementTypes"
      @click="typeChanged"
    >
    </q-btn-toggle>
    <br />

    <div class="q-gutter-x-sm q-gutter-y-sm">
      <q-btn
        v-for="c in categories"
        :key="c.label"
        :color="c.value.id == category?.id ? 'teal' : 'white'"
        :text-color="c.value.id == category?.id ? 'white' : 'black'"
        no-caps
        size="md"
        padding="xs"
        :label="c.label"
        @click="changeCategory(c.value)"
      ></q-btn>
    </div>
    <div class="q-gutter-x-sm q-gutter-y-sm">
      <q-btn
        v-for="sc in subCategories"
        :key="sc.label"
        :color="sc.value.id == subCategory?.id ? 'teal' : 'white'"
        :text-color="sc.value.id == subCategory?.id ? 'white' : 'black'"
        no-caps
        size="md"
        padding="xs"
        :label="sc.label"
        @click="subCategory = sc.value"
      ></q-btn>
    </div>

    <QCurrencyInput v-model="amount" label="Monto"></QCurrencyInput>

    <q-input v-model="notes" label="Notas" lazy-rules></q-input>

    <q-btn label="Agregar" type="submit" no-caps color="primary"></q-btn>
  </q-form>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import movementService from '../services/MovementService';
import { Category } from 'src/models/Category';
import { SubCategory } from 'src/models/SubCategory';
import { Movement } from 'src/models/Movement';
import QCurrencyInput from './QCurrencyInput.vue';

export default defineComponent({
  name: 'MovementForm',
  components: { QCurrencyInput },
  data() {
    return {
      date: '',
      type: 'Expense',
      amount: null as number | null,
      category: null as Category | null,
      subCategory: null as SubCategory | null,
      notes: '',
      movementTypes: [
        { label: 'Ingreso', value: 'Income' },
        { label: 'Egreso', value: 'Expense' },
        { label: 'Ajuste', value: 'Adjustment' },
      ],
      allCategories: [] as { label: string; value: Category }[],
      categories: [] as { label: string; value: Category }[],
      subCategories: [] as { label: string; value: SubCategory }[],
    };
  },
  async created() {
    let categories = await movementService.getCategories();
    this.allCategories = categories.map((c) => ({ label: c.name, value: c }));
    await this.refresh();
    this.typeChanged();
  },
  methods: {
    async onSubmit() {
      let movement: Movement = {
        id: null,
        date: this.date,
        type: this.type,
        amount: this.amount ?? 0,
        categoryId: this.category?.id ?? 1,
        subCategoryId: this.subCategory?.id ?? null,
        notes: this.notes,
      };
      await movementService.createMovement(movement);
      await this.refresh();
    },
    typeChanged() {
      this.category = null;
      this.subCategory = null;
      this.subCategories = [];
      this.categories = this.allCategories.filter(
        (x) =>
          (x.value.type === 0 && this.type === 'Income') ||
          (x.value.type === 1 && this.type === 'Expense') ||
          (x.value.type === 2 && this.type === 'Adjustment')
      );
    },
    changeCategory(category: Category) {
      this.category = category;
      this.subCategory = null;
      this.subCategories = category?.subCategories.map((c) => ({
        label: c.name,
        value: c,
      }));
    },
    async refresh() {
      this.date = new Date().toISOString().split('T')[0].replaceAll('-', '/');
      this.type = this.movementTypes[1].value;
      this.amount = null;
      this.category = null;
      this.subCategories = [];
      this.subCategory = null;
      this.notes = '';
    },
  },
});
</script>

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
</style>
