<template>
  <q-input
    ref="inputRef"
    :error-message="errorMessage"
    :error="!!errorMessage"
    v-model="formattedValue"
  />
</template>

<script>
import { useCurrencyInput } from 'vue-currency-input';
import { computed, watch } from 'vue';

export default {
  name: 'QCurrencyInput',
  props: {
    modelValue: Number,
  },
  setup(props) {
    const { inputRef, formattedValue, numberValue, setValue, setOptions } =
      useCurrencyInput({
        currency: 'PYG',
        locale: 'es-PY',
        currencyDisplay: 'hidden',
      });

    const errorMessage = computed(() => undefined);

    watch(
      () => props.modelValue,
      (value) => {
        setValue(value);
      }
    );

    watch(
      () => props.currency,
      (currency) => {
        setOptions({ currency });
      }
    );

    return { inputRef, formattedValue, errorMessage };
  },
};
</script>
